*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}




#videos{
    display: grid;
    grid-template-columns: 1fr;
    height: 100vh;
    overflow: hidden;
}

.video-player{
    background-color: black;
    width: 100%;
    height: 100vh;
    /* object-fit: cover; */
}

#user-2{
    display: none;
}

.smallFrame{
  position: fixed;
  top: 20px;
  left: 20px;
  height: 170px;
  width: 300px;
  border-radius: 5px;
  border: 2px solid bisque;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
  z-index: 1000;
}


.control-container {
    background-color: #bdc3c7;
    padding: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.4s ease;
  }
  .control-container i{
    color: black;
    font-size: 1.1rem;
  }
  #leave-btn {
    background-color: #ff0000;
    color: aliceblue;
  }

  #leave-btn i{
    color: aliceblue;
  }
  
  #controls {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 1rem;
  }


  @media screen and (max-width:600px){
        .smallFrame{
          height: 80px;
          width: 120px;
        }

        .control-container i{
          color: black;
          font-size: 1rem;
        }
  }